<header class="header">
  <div class="container">
    <h1 class="logo">SCON</h1>
    <nav class="navbar">
      <a href="#" class="nav-link">Login</a>
      <a href="#" class="nav-link">Contratar</a>
      <a href="#" class="nav-link">Trabalhos</a>
    </nav>
  </div>
</header>

<section class="hero">
  <div class="container hero-content">
    <h2 class="hero-title">Procuramos talentos</h2>
    <p class="hero-text">Estamos em busca de talentos para nossa equipe! Se você é uma mão de obra eficiente e
      temporária, nós queremos você. Nosso e-commerce está contratando profissionais qualificados para integrarem nossa
      equipe. Com a conveniência do pagamento online, junte-se a nós e faça parte do nosso time hoje mesmo!</p>
    <a href="#contato" class="btn btn-primary">Entre em Contato</a>
  </div>
</section>
<section class="features">
  <div class="container">
    <h2 class="section-title">Principais Benefícios</h2>
    <div class="features-grid">
      <div class="feature">
        <h3 class="feature-title">Experiência de Mercado</h3>
        <p class="feature-text">Ganhe bagagem na SCON em uma vaga temporária e esteja preparado para as novidades do
          mercado.</p>
      </div>
      <div class="feature">
        <h3 class="feature-title">Pagamento Online</h3>
        <p class="feature-text">A SCON fornece seu pagamento de forma 100% online, economize tempo.</p>
      </div>
      <div class="feature">
        <h3 class="feature-title">Horários Flexíveis</h3>
        <p class="feature-text">A SCON permite que você trabalhe no seu tempo, do seu jeito, entregando em prazos.</p>
      </div>
    </div>
  </div>
</section>



<section id="contato" class="contact">
  <div class="container">
    <h2 class="section-title">Entre em Contato</h2>
    <form class="contact-form">
      <input type="text" placeholder="Seu Nome" class="form-control">
      <input type="email" placeholder="Seu Email" class="form-control">
      <textarea placeholder="Sua Mensagem" class="form-control"></textarea>
      <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
    </form>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Minha Landing Page. Todos os direitos reservados.</p>
  </div>
</footer>